{{ define "main" }}

<main class="page-main pa4" role="main">
  <section class="page-content mw7 center">

    <article class="post-content pa0 ph4-l">

      <header class="post-header">

        <h1 class="f1 lh-solid measure-narrow mb3 fw4">
          {{ .Title }}
        </h1>

        {{ with .Params.publication }}
          <p class="f4 mt0 mb3 lh-title measure i">
            {{ . | markdownify }}
          </p>
        {{ end }}

        {{ with .Params.author }}
          <p class="f6 measure lh-copy mv2">
            {{ . | markdownify }}
          </p>
        {{ end }}

        {{ if .Params.date }}
          <p class="f7 db mv0 ttu">
            {{ .Date.Format "January 2, 2006" }}
          </p>
        {{ end }}

        {{ if .Params.links }}
          <div class="ph0 pt4">
            {{ partial "shared/btn-links.html" . }}
          </div>
        {{ end }}

      </header>

      <section class="post-body pt5 pb4">
        {{ .Content }}
      </section>

    </article>

    {{ if .Params.show_comments }}
      {{ partial "shared/comments.html" . }}
    {{ end }}

  </section>
</main>

{{ end }}